[Unit]
Description=Monta el cache de Chrome en la RAM
ConditionPathIsDirectory=/home/leandro/.cache/google-chrome/Default/Cache

[Service]
Type=oneshot
ExecStart=/home/leandro/Documents/GNULinux/scripts/chromeCache.sh

[Install]
WantedBy=multi-user.target
