[Unit]
Description=rclone_drive
AssertPathIsDirectory=/home/leandro/Drive
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=/home/leandro/.config/rclone/rclone.conf \
        --vfs-cache-mode writes \
        drive: /home/leandro/Drive
ExecStop=/bin/fusermount -u /home/leandro/Drive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
